<h1>new User</h1>
<form method="POST" action="/admin/users">
<label>Email</label>
<input name="email" type="text" />
<label>Password</label>
<input name="password" type="password" />
<label>Confirm Password</label>
<input name="password_confirmation" type="password" />
<br />
<input class="button" type="submit" value="Submit" />

</form>
